* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(179, 191, 191);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 80%;
    height: 70vh;
    background-color: #fff;
    display: flex;
}
.card .left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-image: url(https://as2.ftcdn.net/v2/jpg/02/94/37/11/1000_F_294371110_kkfL65igE3zaw5oLf3cEaoZUe4bYORLy.jpg)
}

.card .left  p {
    font-weight: bold;
    letter-spacing: 1px;
}

.card .left #small {
    padding: 0 40px;
    margin-top: 20px;
    font-size: 16px;
}

.card .left h1 {
    font-size: 45px;
}

.card .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#text {
    text-align: center;
    margin-bottom: 30px;
}

#text h1 {
    color: rgb(47, 171, 219);
    margin-bottom: 10px;
}

#text p {
    color: grey;
    padding: 0 100px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 60%;
}

form #signed {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form #signed p {
    color:rgb(47, 171, 219);
    cursor: pointer;
}

form #signed label {
    display: flex;
    align-items: center;
    gap: 5px;
}

form input {
    height: 40px;
    padding-left: 30px;
    border-left: 5px solid rgb(47, 171, 219);
    outline: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
    background-color: azure;
    font-size: 16px;
    color: grey;
}

form button {
    background-color: rgb(47, 171, 219);
    color: white;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
}

form button:hover {
    letter-spacing: 1.5px;
    background-color: rgb(47, 140, 219);
}